<legend><h2>Sign up</h2></legend>
<p>When you are a registered user of the WGBH Stock Sales site, you can do things</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" name="user[email]" class="form-control" id="inputEmail" placeholder="Email" autofocus="true">
  </div>
  
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" name="user[password]" class="form-control" id="inputPassword" placeholder="Password (at least 8 characters)">
  </div>

  <div class="form-group">
    <label for="inputPasswordConfirmation">Password confirmation</label>
    <input type="password" name="user[password_confirmation]" class="form-control" id="inputPasswordConfirmation" placeholder="Password confirmation">
  </div>

  <div class="form-group">
    <label for="inputFirstName">First name</label>
    <input type="text" name="user[first_name]" class="form-control" id="inputFirstName" placeholder="First name">
  </div>
  
  <div class="form-group">
    <label for="inputLastName">Last name</label>
    <input type="text" name="user[last_name]" class="form-control" id="inputLastName" placeholder="Last name">
  </div>

  <div class="form-group">
    <label for="inputCompany">Company</label>
    <input type="text" name="user[company]" class="form-control" id="inputCompany" placeholder="Company">
  </div>

  <div class="form-group">
    <label for="inputPhone">Phone</label>
    <input type="text" name="user[phone]" class="form-control" id="inputPhone" placeholder="Phone number (just digits)">
  </div>
 
  <div class="form-group">
    <label for="inputFax">Fax</label>
    <input type="text" name="user[fax]" class="form-control" id="inputFax" placeholder="Fax">
  </div>
 
  <div class="form-group">
    <label for="inputAddress1">Address 1</label>
    <input type="text" name="user[address1]" class="form-control" id="inputAddress1" placeholder="Address 1">
  </div>

  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" name="user[address2]" class="form-control" id="inputAddress2" placeholder="Address 2">
  </div>

  <div class="form-group">
    <label for="inputCity">City</label>
    <input type="text" name="user[city]" class="form-control" id="inputCity" placeholder="City">
  </div>

  <div class="form-group">
    <label for="inputState">State</label>
    <input type="text" name="user[state]" class="form-control" id="inputState" placeholder="State">
  </div>   

  <div class="form-group">
    <label for="inputZipcode">Zip code</label>
    <input type="text" name="user[zipcode]" class="form-control" id="inputZipcode" placeholder="Zip code">
  </div>

  <button type="submit" class="btn btn-primary">Sign up</button>
<% end %>

<%= render "devise/shared/links" %>
