<div id="pricing-info" class="row">
  <p>Hello, if you wish to get more information about licensing the items in your cart, click on the "Request Price Quote" button.  This will send an email to the WGBH Stock Sales department and they will contact you with further information. To remove an item from your cart, click the "Remove" button.</p>
  <div class="col-md-6">
    <h2><strong>Footage License Quotes</strong></h2>
    <ul>
      <li>$200/Sec: Not for Profit / Public TV</li>
      <li>$200/Sec: Lifetime Movie</li>
      <li>$250/Sec: Basic Cable</li>
      <li>$300/Sec: Network TV (Program)</li>
      <li>$400/Sec: Network TV (News)</li>
      <li>$500/Sec: Feature Film (Independent)</li>
      <li>$600/Sec: Feature Film</li>
      <li>$700/Sec: Superhero Film</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2><strong>Image License Quotes</strong></h2>
    <ul>
      <li>$50: Not for Profit / Public TV</li>
      <li>$100: Books (Interior)</li>
      <li>$100: Television (Commercial)</li>
      <li>$100: Internet</li>
      <li>$100: Corporate</li>
      <li>$200: Advertising</li>
      <li>$200: Feature Film</li>
      <li>$200: Books (Cover)</li>
      <li>$400: Advertising (Cover)</li>
    </ul>
  </div>
</div>
