<div class="bs-docs-section">
  <h1 id="code" class="page-header">Code</h1>
  <h2 id="inline-code">Inline</h2>
  <p>Wrap inline snippets of code with <code>&lt;code&gt;</code>.</p>
    <div class="bs-example">
      <p>For example, <code>&lt;section&gt;</code> should be wrapped as inline.</p>
    </div>
  <pre class="prettyprint linenums">
    For example, &lt;code&gt;&amp;lt;section&amp;gt;&lt;/code&gt; should be wrapped as inline.
  </pre>
  <h2 id="basic-block-code">Basic block</h2>
  <p>Use <code>&lt;pre&gt;</code> for multiple lines of code. Be sure to escape any angle brackets in the code for proper rendering.</p>
    <div class="bs-example">
      <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
    </div>
  <pre class="prettyprint linenums" style="margin-bottom: 9px;">
    &lt;pre&gt;
      &amp;lt;p&amp;gt;Sample text here...&amp;lt;/p&amp;gt;
    &lt;/pre&gt;
  </pre>
  <div class="bs-callout bs-callout-info">
    <h4>Heads up!</h4>
    <p>Be sure to keep code within <code>&lt;pre&gt;</code> tags as close to the left as possible; it will render all tabs.</p>
    <p>You may optionally add the <code>.pre-scrollable</code> class which will set a max-height of 350px and provide a y-axis scrollbar.</p>
  </div>
</div>
