<% hero_title ||= 'No image currently published' %>

<div class="row">
  <div class="col-md-12">
    <div class="jumbotron" title= "<%= hero_title %>" style="background-image: url(<%= hero_url %>)">
      <div class="search-container">
        <%= render_search_bar %>
      </div>
    </div>
  </div>
</div>
