<% sidekick_images ||= [] %>

<div class="col-md-12">
  <% sidekick_images.each do |img| %>
    <div class="col-md-6">
      <a href="<%= img.url %>"><img src="<%= img.image.url %>" alt="<%= img.alt %> " title="<%= img.title %>"</img></a>  
    </div>
  <% end %>
</div>

