<%= render partial: 'hero_image', locals: {hero_url: @hero_img.try(:image).url, hero_title: @hero_img.try(:title) } %>
  
<div class="row">

  <div class="col-md-5">
    <%= render partial: 'sidekick_images', locals: {sidekick_images: @sidekick_imgs } %>
  </div>

  <div class="col-md-7">
    <%= render partial: 'layouts/flash_msg' %>
    <%= render partial: 'blog' %>
  </div>
</div>
