// Place all the styles related to the SearchResults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clip {
  padding: 15px 0px 0px 15px;
}

.lead { 
  margin-bottom: 0px;
}

.p {
  margin-bottom: 0px;
}
